@import "tailwindcss";

#home,#projects,#experience,#contact,#skills,#education,#coding,.footer{
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 1;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(90deg); }
}

@keyframes floaty {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.spin-slow {
  animation: spin-slow 8s linear infinite;
}

.floaty {
  animation: floaty 2s ease-in-out infinite;
}

@keyframes gradient-pan {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-gradient-border {
  background-size: 200% 200%;
  animation: gradient-pan 4s ease-in-out infinite;
}